<div id="newSchool" *ngIf="creatingSchool">
  <h3>New School</h3>
  <div id="nameField" class="form-group">
    <label for="nameInput">Name:</label>
    <input id="nameInput" class="form-control" placeholder="Name" #newName/>
  </div>

  <div id="buttonHolder">
    <button class="btn btn-search" (click)="createSchool(newName.value)" id="createBtn">Create School</button>
    <button class="btn btn-search" (click)="cancelNewSchool()" id="cancelBtn">Cancel</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-6"><h2>All Schools</h2></div>
  <div class="col-xs-6 new-object-link" *ngIf="!creatingSchool"><h3><a (click)="showSchoolForm()" id="newSchoolBtn"><i class="fa fa-plus" aria-hidden="true"></i> New School</a></h3></div>
</div>

<table class="table">
  <thead>
    <tr>
      <th class="id">ID</th>
      <th>Name</th>
      
      <th></th> 
      <th>Actions</th>
      <!--<th></th>-->
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let school of schools">
      <td class="id">{{school.id}}</td>
      <td>{{school.name}}</td> 
      <td class="code"><a routerLink={{school.id}}>Details</a></td> 
      <td class="code"><a>Show Depts.</a></td>
      <td class="code"><a class="delete" (click)="deleteSchool(school)">Delete</a></td>
    </tr>

  </tbody>
</table>
