<div *ngIf="!error">

<table class="table">
  <thead>
    <tr>
      <th class="id">ID</th>
      <th class="code">CRN</th>

      <th class="code">Instructors</th>
      <th class="code">Seats</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let section of sections">
      <td class="section-name">{{section.name}}</td>
      <td class="section-crn">{{section.crn}}</td>
      <td class="section-instructors">{{ section.instructors.join(', ') }}</td>
      <td class="section-seats-available">
        {{ section.seats-section.seats_taken }} / {{ section.seats }} seats
      </td>

    <!--<div *ngIf="doesConflict(section?.id)" class="conflict-note">
      <span class="conflict-img-center"></span>
      <img class="conflict-img" src="assets/images/red_exclamation.svg" />
      <span class="conflict-text">
        Conflicts with selected sections
      </span>
    </div>-->
    <!--<div class="section-periods">
      <span class="period" *ngFor="let period of section.periods">
        <span class="period-day">{{ getDay(period) }}</span>
        <span class="period-time">{{ getHours(period) }}</span>
      </span>
    </div>-->
    </tr>

  </tbody>
</table>
