*.rbc
capybara-*.html
.rspec
/yacs-admin/log
/yacs-admin/tmp
/yacs-admin/db/*.sqlite3
/yacs-admin/db/*.sqlite3-journal
/yacs-admin/public/system
/yacs-admin/coverage/
/yacs-admin/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
/yacs-admin/config/initializers/secret_token.rb
/yacs-admin/config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

## Environment normalization:
/yacs-admin/.bundle
/yacs-admin/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/yacs-admin/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

/yacs-admin/cucumber