/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1{
  font-weight: bold;
  padding-bottom: 5px;
}

#content a{
  color: #d57f7f;
}

td{
  padding: 2px 5px;
}

#navtable a:focus, #navtable a:hover{
  color:#fff !important;
  text-decoration: none !important;
}

.table-icon{
  font-size:12px;
}

.h4-icon{
  font-size:13px;
}

.search-bar{
  width: 100% !important;
}

.btn-search{
  background: #d57f7f !important;
  border-color: #c65353 !important;
  color: #fff !important;
  text-shadow: none !important;
}

.sidelink-active{
  background: #d27979 !important;

}

.sidelink-hoverable:hover, .sidelink-hoverable:focus{
  background: #d27979 !important;

}

#content{
  width:100%;
}

.img-thumbnail{
  margin-bottom: 15px;
}

.table-of-contents li{
  font-size: 16px ;
  list-style:none;
  padding:3px;
}