<nav id="headerbar">
  <table id="navtable">
    <tbody>
      <tr>
        <td class="sidelink" id="page-title">
          <a href="/">YACS Admin</a> 
        </td>

        <td class="sidelink sidelink-hoverable" id="schools">
          <a href="/schools">Schools</a>
        </td>
        <td class="sidelink sidelink-hoverable" id="departments">
          <a>Departments</a>
        </td>

        <td class="sidelink sidelink-hoverable" id="courses">
          <a>Courses</a>
        </td>

        <td class="sidelink sidelink-hoverable" id="sections">
          <a>Sections</a>
        </td>
      </tr>
    </tbody>
  </table>
</nav>
