<nav id="headerbar">
  <table id="navtable">
    <tbody>
      <tr>
        <td class="sidelink" id="page-title">
          <a href="/">YACS Admin  <span class="sub">alpha</span></a>
          
        </td>

        <td class="sidelink sidelink-hoverable" id="schools">
          <a href="/schools">Schools</a>
        </td>
        <td class="sidelink sidelink-hoverable" id="departments">
          <a href="/departments">Departments</a>
        </td>

        <td class="sidelink sidelink-hoverable" id="courses">
          <a href="/courses">Courses</a>
        </td>

        <td class="sidelink sidelink-hoverable" id="sections">
          <a href="/sections">Sections</a>
        </td>
      </tr>
    </tbody>
  </table>
</nav>
