<h1>Search all courses</h1>

 <%=render partial: "layouts/forms/search"%>

<h2>Help</h2>
<p>Courses are searched by:</p>
<ul>
  <li>Course Name</li>
  <li>Course Number</li>
  <li>Department Code</li>
  <li>Department Name</li>
  <li>Section Instructors</li>
</ul>