<h1>Search all courses</h1>

 <%=render partial: "layouts/forms/search"%>

<h2>Help</h2>
<p>Courses are searched by:</p>
<ul>
  <li>Course Name</li>
  <li>Course Number</li>
  <li>Department Code</li>
  <li>Department Name</li>
  <li>Section Instructors</li>
</ul>

<p><%= link_to ('<span class="glyphicon glyphicon-chevron-left table-icon" aria-hidden="true"></span>
 Back to all courses').html_safe, course_index_path %></p>