/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

h1{
  font-weight: bold;
  padding-bottom: 0px;
}
[hidden] {display: none !important;}
#headerbar{
  height: 50px;
  position: fixed !important;
}

#content a{
  color: #d57f7f;
}

td{
  padding: 2px 5px;
}

#content{
  padding: 58px 15px 20px 15px !important;
}

#navtable a:focus, #navtable a:hover{
  color:#fff !important;
  text-decoration: none !important;
}
.id{
  width: 10%;
}
.code{
  width: 15%;
}
.sidelink a {
  color: #fff !important;
  display: inline-block;
  height: 50px;
  width: 100%;
}
.table-icon{
  font-size:12px;
}

.h4-icon{
  font-size:13px;
}

.search-bar{
  width: 100% !important;
}

.btn-search{
  background: #d57f7f !important;
  border-color: #c65353 !important;
  color: #fff !important;
  text-shadow: none !important;
}

.sidelink-active{
  background: #d27979 !important;

}


.sidelink-hoverable:hover, .sidelink-hoverable:focus{
  background: #d27979 !important;
height: 40px;
  vertical-aligh: middle;
  overflow: hidden;
}
.sidelink-hoverable {
  width: 120px !important;
  font-size: 18px !important;
  height: 40px;
  vertical-aligh: middle;
  overflow: hidden;
}

.sidelink-hoverable a{
  margin-top: 10px;
  margin-bottom: -10px;
}
#navtable td{

  padding: 0 !important;
}


.table thead, tbody{
  float: left;
  width: 100%;
}
.table tr{
  text-align: left;
  width: 100%;
  display: table;
}

.table tbody{
  overflow: auto;
  max-height: 400px;
}
.table table{

}
.table td, th{
  display: table-cell;
}
#content{
  width:100%;
}

.img-thumbnail{
  margin-bottom: 15px;
}

.table-of-contents li{
  font-size: 16px ;
  list-style:none;
  padding:3px;

}
#page-title{
  text-align: left !important;
}
#page-title a{
  /*I know it doesn't align with the text on 
   * the page, but it looks a bit nicer*/
  padding-left: 20px !important; 
}
body{
  padding-top: 0px !important;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-weight: 300 !important;
}

.new-object-link{
  text-align: right;
}
