<div id ="schoolDetail" *ngIf="school">
  <h2 id="detailHeading">{{school.name}} Details</h2>
  <div id="nameField" class="form-group">
    <label for="nameInput">Name: </label>
    <input id="nameInput" class="form-control" [(ngModel)]="school.name" placeholder="name" #newName/> 
  </div>

  <div id="buttonHolder">
    <button class="btn btn-search" id="save" (click) ="save(newName)">Save Changes</button>
    <button class="btn btn-search" id="cancel" (click)="cancel(newName)" >Cancel</button>
  </div>
</div>"
