<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Code</th>

      <th>Name</th>
      <!--<%if show_school_id%><th>School ID</th><%end%>-->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>1</td>
        <td>ASTR</td>
        <td>Astronomy</td>
        <!--<%if show_school_id%><td><%= dept.school_id %></td><%end%>-->
      </tr>
      <tr>
        <td>2</td>
        <td>BCBP</td>
        <td>Biochemistry and Biophysics</td>
        <!--<%if show_school_id%><td><%= dept.school_id %></td><%end%>-->
      </tr>
      <tr>
        <td>3</td>
        <td>BIOL</td>
        <td>Biology</td>
        <!--<%if show_school_id%><td><%= dept.school_id %></td><%end%>-->
      </tr>
      <tr>
        <td>4</td>
        <td>CHEM</td>
        <td>Chemistry</td>
        <!--<%if show_school_id%><td><%= dept.school_id %></td><%end%>-->
      </tr>

  </tbody>
</table>
