
<!--<department-detail [dept]="selectedDept"></department-detail>
<button id="collapse" [hidden]="!selectedDept" class="btn btn-search" (click)="onSelect(null)">Collapse</button>
-->
<h2>All Departments</h2>

<table class="table">
  <thead>
    <tr>
      <th class="id">ID</th>
      <th class="code">Code</th>

      <th>Name</th>
      <!--<%if show_school_id%><th>School ID</th><%end%>-->
      <th class="code"></th>
      <th class="code"></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let dept of departments" [class.selected]="dept === selectedDept" >
      <td class="id">{{dept.id}}</td>
      <td class="code">{{dept.code}}</td>
      <td>{{dept.name}}</td>
      <td class="code" style="text-align: center !important;"><a routerLink="{{dept.id}}">Details</a></td>
      <td class="code"><a routerLink="/courses" queryParams="{dept_id: {{dept.id}} }">Show Courses</a></td>
    </tr>

  </tbody>
</table>


