
<department-detail [dept]="selectedDept"></department-detail>

<h2>All Departments</h2>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Code</th>

      <th>Name</th>
      <!--<%if show_school_id%><th>School ID</th><%end%>-->
      <!--<th></th>
      <th></th>-->
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let dept of departments" [class.selected]="dept === selectedDept" (click)="onSelect(dept)">
      <td>{{dept.id}}</td>
      <td>{{dept.code}}</td>
      <td>{{dept.name}}</td>
    </tr>

  </tbody>
</table>


