 <%=render partial: "layouts/navbar/section_active"%>


<h1>Listing all sections</h1>

<h4> <%=link_to ('<span class="glyphicon glyphicon-plus h4-icon" aria-hidden="true"></span>
 New Section').html_safe, new_section_path %></h4>

 <%=render partial: "layouts/tables/section_table", locals: {sections: @sections, show_course_id: true}%>

<br>

