 <%=render partial: "layouts/navbar/school_active"%>


<h1>Listing all schools</h1>
<h4> <%=link_to ('<span class="glyphicon glyphicon-plus h4-icon" aria-hidden="true"></span>
 New School').html_safe, new_school_path %></h4>

 <%=render partial: "layouts/tables/school_table", locals: {schools: @schools}%>

<br>

