<h1>Welcome to the YACS admin panel!</h1>
<p>This panel is currently under development. The source code can be found <a href="https://github.com/kburk1997/yacs-admin">here</a>.</p>

<h2>Table of Contents</h2>
<ul class="table-of-contents">
  <li>
    <a href="#navigation">Navigation</a>
    <ul>
      <li><a href="#index">Index View</a></li>
      <li><a href="#show">Show Object View</a></li>
      <li><a href="#search">Search View</a></li>
      <li><a href="#new">New Object View</a></li>
      <li><a href="#edit">Edit Object View</a></li>
      <li><a href="#delete">Deleting an Object</a></li>

    </ul>

  </li>
</ul>

<h2 id="navigation">Navigation</h2>
<p>Above are four tabs: Schools, Departments, Courses, and Sections. Click a tab to view all objects in that category.</p>
<h3 id="index">Index View</h3>
<p>When viewing any object's index page, you will see a header like the one below. For all objects, you will see a link to add a new course. When viewing all courses, you will see a link to search courses.</p>
<%=image_tag "index_header.png", :class => "img-fluid img-thumbnail"%>
<p></p>
<p>Below the header, you will see a table similar to the one below. On the right are three links. Ckick the first link to enter show view, the second link to enter edit view, and the third link to delete the object.</p>
<%=image_tag "table.png", :class => "img-fluid img-thumbnail"%>
<br>
<a href="#"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>&nbsp;Back to Top</a>

<h3 id="show">Show Object View</h3>


<a href="#"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>&nbsp;Back to Top</a>

<h3 id="search">Search View</h3>
<a href="#"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>&nbsp;Back to Top</a>

<h3 id="new">New Object View</h3>
<a href="#"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>&nbsp;Back to Top</a>

<h3 id="edit">Edit Object View</h3>
<a href="#"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>&nbsp;Back to Top</a>

<h3 id="delete">Deleting an Object</h3>
<a href="#"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>&nbsp;Back to Top</a>

